.inside-content {
  padding: 10px;
  padding-top: 80px;
}

.inv-layout-topbar {
  background-color: #0772B3;
  height: 70px;
  position: fixed;
  vertical-align: middle;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 12px 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.inv-layout-topbar .inv-layout-menu-button {
  width: 45px;
  height: 44px;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.inv-layout-topbar .inv-layout-menu-button:hover {
  background-color: #054e7a;
}

.inv-layout-topbar .inv-layout-menu-button span {
  vertical-align: middle;
  font-size: 30px;
}

.inv-layout-menu-container {
  background-color: #ffffff;
  border: 1px solid #ebebef;
  border-left: 0;
  border-top: 0;
  position: fixed;
  height: calc(100% - 70px);
  top: 70px;
  overflow: auto;
  width: 0%;
  z-index: 999;
  transition: 0.3s;
  overflow-x: hidden;
}

.inv-layout-menu-container .inv-layout-menu {
  list-style-type: none;
  margin: .5em 0;
  width: 200px;
  padding: 0;
}

.inv-layout-menu-container .inv-layout-menu > li {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.inv-layout-menu-container .inv-layout-menu li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.inv-layout-menu-container .inv-layout-menu li a .inv-layout-menuitem-icon {
  margin-right: .5em;
  vertical-align: middle;
}

.inv-layout-menu-container .inv-layout-menu li a .inv-layout-menuitem-text {
  display: inline-block;
  vertical-align: middle;
}

.inv-layout-log {
  position: relative;
  vertical-align: middle;
  margin-left: 30px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.inv-layout-menu-container .inv-layout-menu li a {
  display: block;
  width: 100%;
  padding: .75em 1em;
  position: relative;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  -webkit-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  padding-left: 2em;
}

.inv-layout-menu-container .inv-layout-menu li.inv-layout-root-menuitem > .inv-layout-menuitem-root-text {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5rem 0 0.5rem 1.5rem;
  color: #666666;
}

.inv-layout-menu-container .-invlayout-menu li.inv-layout-root-menuitem > .inv-layout-menuitem-root-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5rem 0 0.5rem 1.5rem;
  color: #666666;
}

.p-card {
  font-family: 'Inter', sans-serif;
}

.p-datatable-tbody {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}



.p-card .p-card-subtitle {
  font-weight: 500;
}
