.inside-content {
  padding: 10px;
  padding-top: 80px;
}

.inside-content-login {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    background: url('https://www.primefaces.org/roma-react/assets/layout/images/pages/login-bg.jpg') no-repeat;
    background-size: cover;
}

.inv-layout-topbar {
  background-color: #0772B3;
  height: 70px;
  position: fixed;
  vertical-align: middle;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 12px 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.inv-layout-topbar .inv-layout-menu-button {
  width: 45px;
  height: 44px;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.inv-layout-topbar .inv-layout-menu-button:hover {
  background-color: #054e7a;
}

.inv-layout-topbar .inv-layout-menu-button span {
  vertical-align: middle;
  font-size: 30px;
}

.inv-layout-menu-container {
  background-color: #ffffff;
  border-left: 0;
  border-top: 0;
  position: fixed;
  height: calc(100% - 70px);
  top: 70px;
  overflow: auto;
  width: 0%;
  z-index: 999;
  transition: 0.3s;
  overflow-x: hidden;
}

.inv-layout-menu-container .inv-layout-menu {
  list-style-type: none;
  margin: .5em 0;
  width: 200px;
  padding: 0;
}

.inv-layout-menu-container .inv-layout-menu > li {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.inv-layout-menu-container .inv-layout-menu li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.inv-layout-menu-container .inv-layout-menu li a .inv-layout-menuitem-icon {
  margin-right: .5em;
  vertical-align: middle;
}

.inv-layout-menu-container .inv-layout-menu li a .inv-layout-menuitem-text {
  display: inline-block;
  vertical-align: middle;
}

.inv-layout-log {
  position: relative;
  vertical-align: middle;
  margin-left: 30px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.inv-layout-menu-container .inv-layout-menu li a {
  display: block;
  width: 100%;
  padding: .75em 1em;
  position: relative;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  -webkit-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
  padding-left: 2em;
}

.inv-layout-menu-container .inv-layout-menu li.inv-layout-root-menuitem > .inv-layout-menuitem-root-text {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5rem 0 0.5rem 1.5rem;
  color: #666666;
}

.inv-layout-menu-container .-invlayout-menu li.inv-layout-root-menuitem > .inv-layout-menuitem-root-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5rem 0 0.5rem 1.5rem;
  color: #666666;
}

.p-card {
  font-family: 'Inter', sans-serif;
}

.p-datatable-tbody {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

#tbfii.p-datatable tbody {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.p-component {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-inputtext {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-dropdown-item {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-card .p-card-subtitle {
  font-weight: 500;
}

.letraCorVerde {
  /*color: rgb(0,97,0);*/
  color: #0ea600;
  /*background-color: rgb(183,225,205)*/
}

.letraCorVermelha {
  /*color: rgb(156,0,6);*/
  color: red;
  /*background-color: rgb(225,199,206)*/
}

.login-panel {
  padding: 0 70px 20px 70px;
  height: 100%;
  width: 556px;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.login-panel-content {
  margin-top: 33%;
}

.titulo-login {
  position: relative;
  vertical-align: middle;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}

.subtitulo-login {
  position: relative;
  vertical-align: middle;
  font-family: Inter, sans-serif;
  padding-bottom: 20px;
}

.avatar-imagem {
  width: 55px;
}

.top-bar-menu {
  float: right;
  padding-right: 40px;
  margin: 0;
  height: 70px;
  margin-top: -5px;
  list-style-type: none;
}

.inv-layout-log-right {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-family: inter, sans-serif;
  font-size: 14px;
  color: #E0FFFB;
}

.layout-profile-userinfo {
  text-align: left;
  display: inline-block;
  margin: 20px 0 0 8px;
  vertical-align: top;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: #0f97c7;
  }
  40% {
      stroke: #0f97c7;
  }
  66% {
      stroke: #0f97c7;
  }
  80%,
  90% {
      stroke: #0f97c7;
  }
}